@page
@model InventoryNoAuth.Pages.PositioncodePart.IndexModel

<p>
    <a class="btn btn-info" href="./ByCell">返回</a>


</p>
<table class="table">
    <thead>
        <tr>
            <th>
                儲位編碼
            </th>
            <th>
                儲位名稱
            </th>
            <th>
                料號
            </th>
            <th>
                批/序號(RANK)
            </th>
            <th>
                品名
            </th>
            <th>
                數量
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.MCpositioncodePart) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Cpositioncode)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Cposition)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Part)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.RankFinal)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Cinvname)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Iqty)
            </td>
            @*<td>
            <a asp-page="./Edit" asp-route-id="@item.Id">Edit</a> |
            <a asp-page="./Details" asp-route-id="@item.Id">Details</a> |
            <a asp-page="./Delete" asp-route-id="@item.Id">Delete</a>
        </td>*@
        </tr>
}
    </tbody>
</table>
