@page
@model InventoryNoAuth.Pages.PositioncodePart.IndexModel

<p>
    <a asp-page="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.MCpositioncodePart[0].Cpositioncode)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.MCpositioncodePart[0].Cposition)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.MCpositioncodePart[0].Cinvcode)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.MCpositioncodePart[0].Part)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.MCpositioncodePart[0].Rank)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.MCpositioncodePart[0].RankFinal)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.MCpositioncodePart[0].Iqty)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.MCpositioncodePart) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Cpositioncode)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Cposition)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Cinvcode)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Part)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Rank)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.RankFinal)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Iqty)
            </td>
            <td>
                <a asp-page="./Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-page="./Details" asp-route-id="@item.Id">Details</a> |
                <a asp-page="./Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
