@page

@model InventoryNoAuth.MCpositioncodeModel


<form asp-page="./Index" method="get">
    <div class="form-actions no-color">
        <p>
            儲位編碼或名稱模糊查詢:
            <input type="text" name="SearchString" value="@Model.CurrentFilter" />
            <input type="submit" value="Search" class="btn btn-primary" /> |
            <a asp-page="./Index">全部顯示</a>
        </p>
    </div>
</form>
<table class="table">
    <thead>
        <tr>
            <th>
                <a asp-page="./Index" asp-route-sortOrder="@Model.NameSort"
                   asp-route-currentFilter="@Model.CurrentFilter">
                    儲位編碼
                </a>
            </th>
            <th>
                <a asp-page="./Index" asp-route-sortOrder="@Model.DateSort"
                   asp-route-currentFilter="@Model.CurrentFilter">
                    儲位名稱
                </a>
            </th>
            <th>
                料號數
            </th>
            <th>
                查看
            </th>


        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.MCpositioncode)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Cpositioncode)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Cposition)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Cnt)
                </td>
                <td>
                    @*    <a asp-page="./Edit" asp-route-id="@item.Cposition">Edit</a> |*@
                    @*   <a asp-page="./PositioncodePart" asp-route-id="@item.Cposition">查看</a>*@
                    <a class="btn btn-info" href="./CellPart?cell=@item.Cpositioncode">查看</a>

                    @*  <a asp-page="./Delete" asp-route-id="@item.Cposition">Delete</a>*@
                </td>
            </tr>
        }
    </tbody>
</table>

@{
    var prevDisabled = !Model.MCpositioncode.HasPreviousPage ? "disabled" : "";
    var nextDisabled = !Model.MCpositioncode.HasNextPage ? "disabled" : "";
}

<a asp-page="./Index"
   asp-route-sortOrder="@Model.CurrentSort"
   asp-route-pageIndex="@(Model.MCpositioncode.PageIndex - 1)"
   asp-route-currentFilter="@Model.CurrentFilter"
   class="btn btn-primary @prevDisabled">
    上一頁
</a>
@Model.MCpositioncode.PageIndex / @Model.MCpositioncode.TotalPages
<a asp-page="./Index"
   asp-route-sortOrder="@Model.CurrentSort"
   asp-route-pageIndex="@(Model.MCpositioncode.PageIndex + 1)"
   asp-route-currentFilter="@Model.CurrentFilter"
   class="btn btn-primary @nextDisabled">
    下一頁
</a>